{% extends 'layout.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biotech Park</title>
</head>

<body>
  {% block main %}
  <!-- this is a silder start -->
  <div class="row">
    <div class="col-md-12 p-0">
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/silder.jpg' %}" class="d-block w-100" alt="...">
            


        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>
  <!-- this is a silder end -->
  <!-- this is a announcements start -->
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <div class="col-sm-2 mt-5 text-light py-1" style="background-color: rgb(2,104,24);">

          <h5>Announcements</h5>
        </div>
        <div class="col-sm-10 text-light mt-5 py-1 " style="background-color: rgb(20,87,210);">
          <marquee behavior="" direction="" onmouseover="stop()" onmouseleave="start()">
            <span style="color: white; padding: 10px;"><img src="{% static 'images/new1.gif' %}" height="15px">Join our
              webinar on Bioinformatics, "Unlocking the Power of Bioinformatics," on September 14th, 2024, at 11:00
              AM!<b> Register here </b> </span>
            <span style="color: white; padding: 10px;"><img src="{% static 'images/new1.gif' %}" height="15px">A Webinar
              on "Advancements in Medicinal Plant Biotechnology Research" will be held on September 21st, 2024, from
              11:00 AM to 12:30 PM (IST). <b>Register here</b></span>
          </marquee>
        </div>
      </div>
    </div>
  </div>
  <!-- annoucements end -->
  <!-- we cover start -->
  <div class="row mt-auto pt-4">
    <div class="col-sm-10 mx-auto">
      <div class="row mt-5">
        <div class="col-sm-6 border-bottom border-3 border-primary ">
          <h2>We Cover The Whole Spectrum</h2>
        </div>
      </div>
      <div class="row myrow my-5  ">
        <div class="col-sm-3">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/clean.jpg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text fw-bold text-primary text-center">Clean Enviroment</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/hitech.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text fw-bold text-primary text-center">Hi-Tech Laboratories</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/infra1.jpg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text fw-bold text-primary text-center">Modern Infrastructure</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/skill.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text  fw-bold text-primary text-center">Skill Developement</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- this is About Us-->
  <div class="row bg-color mt-5">
    <div class="container">
      <div class="row  p-5 bg-primary">
        <div class="col-lg-6 w100 text-light">
          <h3>About Biotech Park</h3>
          <hr>
          <p style="text-align: justify; color:white; font-family: sans-serif;">
            Welcome to Bio Tech Lucknow, India’s premier research center dedicated to pioneering advancements in
            biotechnology. As the nation’s number one research hub, we are at the forefront of innovative scientific
            research, driving breakthroughs that shape the future of healthcare, agriculture, and environmental
            sustainability.

            Our state-of-the-art facilities and world-class laboratories are staffed by a team of distinguished
            scientists and researchers committed to excellence. At Bio Tech Lucknow, we focus on cutting-edge research
            in genomics, bioinformatics, and molecular biology, striving to translate scientific discoveries into
            practical solutions that benefit society.

            We pride ourselves on fostering a collaborative environment that encourages creativity and innovation. Our
            partnerships with leading academic institutions, industry leaders, and government agencies enable us to
            stay ahead in the rapidly evolving field of biotechnology.

            Join us in our mission to push the boundaries of science and improve the quality of life through
            groundbreaking research and sustainable technological advancements. Bio Tech Lucknow is not just a
            research center; it is a beacon of progress and a catalyst for change in the biotech landscape of India.
          </p>
        </div>
        <div class="col-lg-6 p-2 mt-4 w100">
          <iframe width="90%" class="rop" height="400"
            src="https://www.youtube.com/embed/n4XnjmavROw?si=xyklZkVLgmroA0bU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- this is About Us  -->
  <!-- our Board Member -->
  <div class="container mt-5">
    <div class="row mt-4">
      <div>
        <div class="container">
          <div class="col-sm-12">
            <span style="font-size: 40px; font-weight: 500;">
              <span style="border-bottom: 4px solid rgb(46, 150, 247); font-weight:500; padding-bottom:5px; ">Our
              </span> Mentors
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-4 mt-4 g-4">
          <div class="col-md-3 tm hello w501 w100">
            <div class="card  h-100 shadow rounded-0 p-2">
              <img src="{% static 'images/Govermer.jpg' %}" class="card-img-top rounded-circle p-2 h-100" height="280px"
                style="border: 1px solid rgb(12, 209, 104);" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);">Smt. Anandiben Patel</h5>
                <p class="card-text text-center fw-bold">Hon’ble Governor <br />Uttar Pradesh</p>
              </div>
            </div>

          </div>
          <div class="col-md-3 tm hello w501 w100">
            <div class="card h-100 shadow rounded-0 p-2">
              <img src="{% static 'images/yogiji.jpg' %}" class="card-img-top rounded-circle p-2 h-100" height="280px"
                style="border: 1px solid rgb(12, 209, 104);" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);"> Shri Yogi Adityanath</h5>
                <p class="card-text text-center fw-bold">Hon’ble Chief Minister<br />Uttar Pradesh</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 tm hello w501w100">
            <div class="card h-100 shadow rounded-0 p-2">
              <img src="{% static 'images/Minister2.jpg' %}" class="card-img-top rounded-circle p-2 h-100"
                height="280px" style="border: 1px solid rgb(12, 209, 104);" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);"> Shri Anil Kumar</h5>
                <p class="card-text text-center fw-bold">Hon’ble Cabinet Minister<br />DST, GoUP</p>
              </div>
            </div>

          </div>
          <div class="col-md-3 tm hello w501 w100">

            <div class="card h-100 shadow rounded-0 p-2">
              <img src="{% static 'images/Prof JP Pandey.jpg' %}" class="card-img-top rounded-circle p-2 h-100"
                style="border: 1px solid rgb(12, 209, 104);" height="280px" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold" style="color:rgb(46, 150, 247);"> Prof. J. P. Pandey</h5>
                <p class="card-text text-center fw-bold">CEO <br />Biotech Park, Lucknow</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our Board Member -->
  <!-- agriculure start -->
  <div class="container mt-5">
    <div class="row mt-4">
      <div>
        <div class="container">
          <div class="col-sm-12">
            <span style="font-size: 40px; font-weight: 500;">
              <span
                style="border-bottom: 4px solid rgb(46, 150, 247); font-weight:500; padding-bottom:5px; ">Agriculture
              </span> Services Industry
            </span>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 w100">
              <hr />
              <h4 class="text p-2 " style="text-color-dark"><a href="" style="text-decoration:none; color:black;">1.
                  Agriculture &
                  Health</a></h4>
              <hr>
              <h4 class="text p-2"><a href="" style="text-decoration: none; color:black;">2. Chemical &
                  Metrical</a>
              </h4>
              <hr>
              <h4 class="text p-2"><a href="" style="text-decoration: none; color:black;">3. Soil Analysis</a>
              </h4>
              <hr>
              <h4 class="text p-2"><a href="" style="text-decoration: none; color:black;">4. Soil Tillage</a>
              </h4>
              <hr>
            </div>
            <div class="col-md-6 w100 fh mx-auto text-center" style="position:relative;">
              <img src="{% static 'images/d1.jpg' %}" class="w-100 h-100 mx-auto" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- agriculure end -->
  <!-- winning start -->
  <div class="row mt-5 mb-5"
    style="background-image: linear-gradient(to left,rgba(2, 104, 24)30%,rgba(20, 87, 210)70%);">
    <div class="col-sm-10 mx-auto">
      <div class="row mt-4 text-center">
        <div class="col-sm-12">
          <h2 class=" text-light">Biotech Award Winning Research Project</h2>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-sm-3  ">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/clean.jpg' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col-sm-3">

          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/hitech.jpeg' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col-sm-3">

          <div class="card h-100 border border-0 shadow">
            <img src="{% static 'images/infra.jpg' %}" height="200vh" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-sm-3 ">

          <div class="card h-100 shadow border-0 ">
            <img src="{% static 'images/Skill.jpeg' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- winning end -->
  <!-- news & update start -->
  <div class="row mt-5">
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <div class="col-sm-6">
          <span style="font-size: 40px; font-weight: 500;">
            <span style="border-bottom: 4px solid rgb(46, 150, 247); font-weight:500; padding-bottom:5px; ">Latest
              News
            </span> and Updates
          </span>
        </div>

      </div>
      <div class="row pt-5">
        <div class="col-sm-3 mb-5">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/new1.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">"On March 13, 2023, a lease was signed for Vatican Shona Agrotech to set up a
                tissue
                culture lab at Biotech Park, Lucknow."
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-5">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/new2.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">"On February 24, 2023, Awanish Kumar Awasthi visited Biotech Park, Lucknow, and
                interacted with the incubatees there."

              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-5">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/events.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">"On February 16, 2023, Gene to Protein launched 'GreenRTM dye' and qPCR Mastermix
                at
                Biotech Park, inaugurated by Alok Kumar."</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-5">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/eventee.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">"A two-day workshop on "Production & Cultivation of Cordyceps militaris" was
                organized from April 22 to 24, 2022."</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 mb-5 text-center">
      <button
        style="height: 45px; width: 100px; background-image: linear-gradient(to right,rgba(2, 104, 24)30%,rgba(20, 87, 210)70%); color:white; border:0px;">Read
        More</button>
    </div>
  </div>
  <!---------------------- news & update end ---------------->
  <!------------------------Training Programme For Students start----------------------------->
  <div class="row  mt-2 pb-5"
    style="background-image: linear-gradient(to left,rgba(20, 87, 210)30%,rgba(2, 104, 24)70%);">
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <div class="col-sm-12">
          <span style="font-size: 40px; font-weight: 500;" class="text-light">
            <span style="border-bottom: 4px solid white; font-weight:500; padding-bottom:5px; ">Training
            </span>Programme For Students
          </span>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-sm-3  ">

          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/clean.jpg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text mytext text-bold text-primary text-center">Clean Environment</h5>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card h-100 shadow border-0">
            <img src="{% static 'images/hitech.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text mytext text-bold text-primary text-center">Hi-Tech Laboratories
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3">

          <div class="card h-100 border border-0 shadow">
            <img src="{% static 'images/infra.jpg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text mytext text-bold text-primary text-center">Moden Infrastructure
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 ">
          <div class="card h-100 shadow border-0 ">
            <img src="{% static 'images/Skill.jpeg' %}" height="200vh" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-text mytext text-bold text-primary text-center">Skill Development</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 text-center text-color-dark mt-5 ">
          <button style="height: 45px; width: 100px; background-color: whitesmoke; ">Read More</button>

        </div>
      </div>
    </div>
  </div>

  <!------------------------training programme end----------------------------->
  <!----------------------------our client start--------------------------->
  <div class="row mt-auto pt-4 ">
    <div class="col-sm-10 mx-auto">
      <div class="row">
        <div class="col-sm-6 ">
          <span style="font-size: 40px; font-weight: 500;">
            <span style="border-bottom: 4px solid rgb(46, 150, 247); font-weight:500; padding-bottom:5px; ">Our
            </span>Clients
          </span>

        </div>
      </div>
      <div class="row my-5">
        <div class="col-sm-3  ">
          <div class="card-body h-100  border-0">
            <img src="{% static 'images/cl1.png' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col-sm-3">

          <div class="card-body h-100 border-0">
            <img src="{% static 'images/cp2.jpeg' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col-sm-3">

          <div class="card-body h-100 border-0">
            <img src="{% static 'images/cp3.jpg' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
        <div class="col-sm-3 ">

          <div class="card-body h-100  border-0 ">
            <img src="{% static 'images/cp5.jpg' %}" height="200vh" class="card-img-top" alt="...">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------our client end--------------------------->






  {% endblock %}

</body>

</html>